body {
  background-color: #3a3a3a;
  font-family: "Oxanium", cursive;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
      grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" ". bt bd bd bd bd bd bd bd bd sc . " ". . if if if if if if if if . . ";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: hd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #949dd4;
  height: 80px;
  margin-bottom: 1rem;
}

.board {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-area: bd;
  position: relative;
  border: 3px solid black;
  background-image: url(../images/coffe.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.ball {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.bar {
  z-index: 2;
  border: 1px solid black;
  position: absolute;
  background-image: url(../images/xsi-text.png);
  background-position: center;
  background-size: 10px;
  background-repeat: repeat-x;
  background-color: #949dd4;
  height: 20px;
  width: 150px;
  left: 40%;
}

.player-one-bar {
  bottom: 0px;
}

.player-two-bar {
  top: 0px;
}

.box {
  background-color: #949dd4;
  border: 4px solid black;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  margin: 0 auto;
  padding: 1rem;
}

.boxButtons {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: bt;
  width: 100px;
  height: 150px;
}

.boxButtons .restart-btn {
  padding: 1rem;
}

.boxInfos {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-area: if;
  width: 500px;
  height: 250px;
}

.boxScore {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
  grid-area: sc;
  width: 100px;
  height: 150px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  z-index: 1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.ticker-wrap .ticker__item {
  font-family: 'Space Mono', monospace;
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
  color: #949dd4;
}
/*# sourceMappingURL=style.css.map */